@model LesioBlog2_Repo.Models.Wpis

@{
    ViewBag.Title = "GoToParentWpis";
}

<h2>Wpis</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Create", "Wpis", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div style="margin-left: 30px; padding: 2px">
                Dodaj wpis:
                <br>
                <textarea name="content" style="margin-top: 12px; min-width: 90%; border-radius: 0.25rem;  resize: none"></textarea>
                <br />
                <span style="margin-left: 0px">
                    <div class="form-group">
                        <div class=" col-md-1">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            <input type="submit" value="Send wpis" class="btn btn-secondary" />
                        </div>
                    </div>
                </span>
            </div>
        }
    }
</p>


<div>
    <span style="float:left">
        Author: @Html.DisplayFor(modelItem => Model.User.NickName)
        <span style="font-size: 12px">
            @Html.DisplayFor(modelItem => Model.AddingDate)
        </span>
    </span>
    <span style="float:right ; padding:4px">
        <span class="">
            @Html.AntiForgeryToken()
            @if (Request.IsAuthenticated)
            {
                <button class="colorA js-toggle-plusing"
                        data-wpis-id="@Model.WpisID" data-plusy-count="@Model.Plusy">
                    @Html.DisplayFor(modelitem => Model.Plusy)
                </button>
            }
            else
            {
                <span style="float:right; padding: 0px">
                    @Html.DisplayFor(modelItem => Model.Plusy)
                </span>
            }
        </span>
    </span>
</div>
<div>
    <div style="border: solid 2px !important">
        <br>
        @Html.DisplayFor(modelItem => Model.Content)
        <br />
        <div style="padding-bottom: 0px; font-size: 12px">
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Details", "Details", new { id = Model.WpisID })


                if (System.Web.HttpContext.Current.User.Identity.Name == Model.User.NickName)
                {
                    <span> || </span>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.WpisID });
                    <span> || </span>

                    @Html.ActionLink("Delete", "Delete", new { id = Model.WpisID })
                }
            }
        </div>
    </div>
    <div>
        @Html.Partial("~/Views/Comments/_CommentAddPartial.cshtml", new ViewDataDictionary { { "WpisID", Model.WpisID } })
    </div>

    <div style="border: solid 2px !important">
        @foreach (var Model2 in Model.Comments.OrderByDescending(x => x.Plusy))
        {
            <div style="border-bottom:dashed 2px;">
                <div style="margin-left: 30px; padding: 2px">
                    Author: @Html.DisplayFor(modelModel => Model2.User.NickName)
                    <span style="font-size: 12px">
                        @Html.DisplayFor(modelModel => Model.AddingDate)
                    </span>
                    <span>
                        <span style="float:right ; padding:0px">
                            <span class="">
                                @Html.AntiForgeryToken()
                                @if (Request.IsAuthenticated)
                                {
                                    <button class="colorA js-toggle-plusing2"
                                            data-comm-id="@Model2.CommentID" data-plusy-count2="@Model2.Plusy">
                                        @Html.DisplayFor(modelitem => Model2.Plusy)
                                    </button>
                                }
                                else
                                {
                                    <span style="float:right; padding: 0px">
                                        @Html.DisplayFor(modelItem => Model2.Plusy)
                                    </span>
                                }
                            </span>
                        </span>
                    </span>
                </div>
                <div style="margin-left:30px;padding: 5px;">
                    @Html.DisplayFor(modelModel => Model2.Content)
                    <div style="padding-bottom: 0px; font-size: 12px">
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Details", "Details", new { id = Model.WpisID })


                            if (System.Web.HttpContext.Current.User.Identity.Name == Model.User.NickName)
                            {
                                <span> || </span>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.WpisID });
                                <span> || </span>

                                @Html.ActionLink("Delete", "Delete", new { id = Model.WpisID })
                            }
                        }
                    </div>
                </div>

            </div>

        }
    </div>
</div>




@section scripts
{
    <script>

        $(document).ready(function () {
            $(".js-toggle-plusing").click(function (e) {

                debugger
                var token = $('input[name=__RequestVerificationToken]').val();
                var wpis = {};
                wpis["wpisID"] = $(e.target).attr("data-wpis-id");
                wpis["plusy"] = $(e.target).attr("data-plusy-count");
                var theData = $.extend({}, token, wpis, true);
                $.ajax({
                    context: this,
                    type: "POST",
                    url: "/Wpis/AddPlus",
                    data: {__RequestVerificationToken: token, wpis: theData},
                    success: function (result) {
                        var plusing = result.plusy;
                        var resultCheck = result.result;
                        debugger;
                        if (resultCheck) {
                            $(e.target).removeClass("colorA")
                                .addClass("colorB")
                                .text(plusing);

                        }
                        else {
                            $(e.target)
                                .removeClass("colorB")
                                .addClass("colorA")
                                 .text(plusing);
                        }
                    }
                });
            });
        })

        //komentarz
        $(document).ready(function () {
            $(".js-toggle-plusing2").click(function (e) {

                debugger
                var token = $('input[name=__RequestVerificationToken]').val();
                var comment = {};
                comment["commentID"] = $(e.target).attr("data-comm-id");
                comment["plusy"] = $(e.target).attr("data-plusy-count2");
                var theData = $.extend({}, token, comment, true);
                $.ajax({
                    context: this,
                    type: "POST",
                    url: "/Comments/AddPlus",
                    data: {__RequestVerificationToken: token, comment: theData},
                    success: function (result) {
                        var plusing = result.plusy;
                        var resultCheck = result.result;
                        debugger;
                        if (resultCheck) {
                            $(e.target).removeClass("colorA")
                                .addClass("colorB")
                                .text(plusing);
                            
                        }
                        else {
                            $(e.target)
                                .removeClass("colorB")
                                .addClass("colorA")
                                 .text(plusing);
                        }
                    }
                });
            });
        })










    </script>
}
