@model LesioBlog2_Repo.Models.Wpis

@{
    ViewBag.Title = "GoToParentWpis";
}

<h2>Wpis</h2>
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div>
    <span style="float:left">
        Author: @Html.DisplayFor(modelItem => Model.User.NickName)
        <span style="font-size: 12px">
            @Html.DisplayFor(modelItem => Model.AddingDate)
        </span>
    </span>
    <span style="float:right ; padding:4px">
        <span>
            <button>
                @Html.DisplayFor(modelItem => Model.Plusy)
            </button>
        </span>
    </span>
</div>
<div>
    <div style="border: solid 2px !important">
        <br>
        @Html.DisplayFor(modelItem => Model.Content)
        <br />
        <div style="padding-bottom: 0px; font-size: 12px">
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Details", "Details", new { id = Model.WpisID })


                if (System.Web.HttpContext.Current.User.Identity.Name == Model.User.NickName)
                {
                    <span> || </span>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.WpisID });
                    <span> || </span>

                    @Html.ActionLink("Delete", "Delete", new { id = Model.WpisID })
                }
            }
        </div>
    </div>

    <div style="border: solid 2px !important">
        @foreach (var Model2 in Model.Comments.OrderByDescending(x => x.Plusy))
        {
            <div style="border-bottom:dashed 2px;">
                <div style="margin-left: 30px; padding: 2px">
                    Author: @Html.DisplayFor(modelModel => Model2.User.NickName)
                    <span style="font-size: 12px">
                        @Html.DisplayFor(modelModel => Model.AddingDate)
                    </span>
                    <span>
                        <span style="float:right; padding: 0px">
                            <button>
                                @Html.DisplayFor(modelModel => Model2.Plusy)
                            </button>
                        </span>
                    </span>
                </div>
                <div style="margin-left:30px;padding: 5px;">
                    @Html.DisplayFor(modelModel => Model2.Content)
                    <div style="padding-bottom: 0px; font-size: 12px">
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Details", "Details", new { id = Model.WpisID })


                            if (System.Web.HttpContext.Current.User.Identity.Name == Model.User.NickName)
                            {
                                <span> || </span>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.WpisID });
                                <span> || </span>

                                @Html.ActionLink("Delete", "Delete", new { id = Model.WpisID })
                            }
                        }
                    </div>
                </div>

            </div>

        }
    </div>
</div>