@model IEnumerable<LesioBlog2_Repo.Models.Wpis>

@{
    ViewBag.Title = "Index";
}

<h2>Wpisy</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Create", "Wpis", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div style="margin-left: 30px; padding: 2px">
                Dodaj wpis:
                <br>
                <textarea name="content" style="margin-top: 12px; min-width: 90%; border-radius: 0.25rem;  resize: none"></textarea>
                <br />
                <span style="margin-left: 0px">
                    <div class="form-group">
                        <div class=" col-md-1">
                            <input type="submit" value="Send wpis" class="btn btn-secondary" />
                        </div>
                    </div>
                </span>
            </div>
        }
    }
</p>

@foreach (var item in Model.OrderByDescending(x => x.Plusy))
{
    <div>
        <span style="float:left">
            Author: @Html.DisplayFor(modelItem => item.User.NickName)
            <span style="font-size: 12px">

                @Html.ActionLink(@Html.DisplayFor(modelItem => item.AddingDate).ToString(), "GoToParentWpis", "Wpis", new { id = item.WpisID }, null)
            </span>
            <span style="font-size: 12px">
                Edited:
                @Html.DisplayFor(modelItem => item.EditingDate)
            </span>

        </span>
        <span style="float:right ; padding:4px">
            <span class="colorA">
                @*

         @using (Html.BeginForm("Index", "Wpis", FormMethod.Post))
        {

            @Html.AntiForgeryToken()*@
                @Html.AntiForgeryToken()
                @if (Request.IsAuthenticated)
                {
                    @*
                    <input type="hidden" name="WpisID" value="@item.WpisID" />

            <input id="btnPlus_@item.WpisID" type="button"
                    onclick="clicking()" value="@Html.DisplayFor(modelItem => item.Plusy)" />*@

                    <button class="btn btn-info js-toggle-plusing"
                            data-wpis-id="@item.WpisID">
                        @Html.DisplayFor(modelitem => item.Plusy)
                    </button>

                }
                else
                {
                    <span style="float:right; padding: 0px">
                        <button>
                            @Html.DisplayFor(modelItem => item.Plusy)
                        </button>
                    </span>

                }
                }
            </span>
        </span>
    </div>
    <div>
        <div style="border: solid 2px !important">
            <br>
            @Html.DisplayFor(modelItem => item.Content)
            <br />
            <div style="padding-bottom: 0px; font-size: 12px">
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Details", "Details", new { id = item.WpisID })


                    if (System.Web.HttpContext.Current.User.Identity.Name == item.User.NickName)
                    {
                        <span> || </span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.WpisID });
                        <span> || </span>

                        @Html.ActionLink("Delete", "Delete", new { id = item.WpisID })
                    }
                }
            </div>
        </div>
        <div>
            @*Tu o dodanie komentarza*@
            <div>
                @Html.Partial("~/Views/Comments/_CommentAddPartial.cshtml", new ViewDataDictionary { { "WpisID", item.WpisID } })
            </div>
        </div>

        @* View comments bellow the wpis *@
        <div style="border: solid 2px !important">
            @foreach (var item2 in item.Comments.OrderByDescending(x => x.Plusy))
            {
                <div style="border-bottom:dashed 2px;">
                    <div style="margin-left: 30px; padding: 2px">
                        Author: @Html.DisplayFor(modelItem => item2.User.NickName)
                        <span style="font-size: 12px">
                            @Html.DisplayFor(modelItem => item2.AddingDate)
                        </span>
                        <span>
                            <span style="float:right; padding: 0px">
                                <button>
                                    @Html.DisplayFor(modelItem => item2.Plusy)
                                </button>
                            </span>
                        </span>
                        <br>
                        @Html.DisplayFor(modelItem => item2.Content)
                        <br />
                    </div>

                    <div style="padding-bottom: 0px; font-size: 12px">
                        @Html.Partial("~/Views/Comments/_CommentPartial.cshtml", item2)
                    </div>
                </div>
            }
        </div>
    </div>
}


@section scripts
{
    <script>

        $(document).ready(function () {
            $(".js-toggle-plusing").click(function (e) {

                debugger
                var token = $('[name=__RequestVerificationToken]').val();
                var wpis = {};
                wpis["wpisID"] = $(e.target).attr("data-wpis-id");
                var theData = $.extend({}, token, wpis, true);
                $.ajax({
                    type: "POST",
                    url: "/Wpis/AddPlus",
                    data: {wpis: theData},
                    success: function (result) {
                        debugger;
                        if (result === true) {
                            $(e.target).removeClass("btn btn-info")
                                .addClass("btn btn-sucess");
                        }
                        else {
                             $(e.target).removeClass("btn btn-info")
                            .addClass("btn btn-warning");
                        }
                    }
                });
            });
        })

        @*

         $.post("/wpis/index", { "": $(e.target).attr("data-wpis-id").val() })
                        .done(function () {
                            $(e.target).removeClass("btn btn-info")
                                .addClass("btn btn-sucess");
                        })
                        .fail(function () {
                            $(e.target).removeClass("btn btn-info")
                                .addClass("btn btn-warning");
                        });
                });
            });
            *@
    </script>
}

