@model LesioBlog2_Repo.Models.User




@{
    ViewBag.Title = "User panel";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div style="margin-left:10px;">
    <h4>Search the user by the nickname or check your  profile details</h4>

</div>

@if (Request.IsAuthenticated)
{


    <table class="table table-bordered table-dark">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Gender):
            </th>
            <th>
                @Html.DisplayName("Comment count:")
            </th>
            <th>
                @Html.DisplayName("Post count:")
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.NickName)
            </td>
            <td>
                @Html.DisplayFor(model => model.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => model.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>

            <td>
                @Html.DisplayFor(model => model.Gender.GenderName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Comments.Count)
                @Html.ActionLink("Go to user's comments", "Index", "Wpis", new { userCommentNickname = Model.NickName }, null)



            </td>
            <td>
                @Html.DisplayFor(model => model.Wpis.Count)
                @Html.ActionLink("Go to user's wpis", "Index", "Wpis", new { userNickName = Model.NickName }, null)

            </td>

        </tr>
    </table>



}
else
{
<div style=" margin-left:30px;">
    <h3> Please log in to search the user or view the user details.</h3>
    <button class=" btn-success" onclick="location.href='@Url.Action("Login", "User")';return false;">Sign in</button>
    <button class=" btn-dark" onclick="location.href='@Url.Action("Registration", "User")';return false;">Register</button>

</div>
   

}


@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    {
        if (Request.IsAuthenticated)
        {
            <div>
                <fieldset>
                    <div style="margin-left:30px;">
                        <div class="editor-label">
                            @Html.Label("Search another user by name")
                        </div>
                        <div style="border-radius:5px;">

                        </div>

                        <div class="editor-field" style="border-radius:5px">
                            <form class="form-inline my-2 my-lg-0" asp-controller="User" asp-action="Index" method="Get">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search user" name="name">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                                <div style=" margin-top:10px;">
                                </div>
                                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                            </form>



                        </div>

                </fieldset>
            </div>

        }


    }
}
