
@model LesioBlog2_Repo.Models.User


@{
    ViewBag.Title = "Login";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div style="margin-left:10px;">
    <h2>Login</h2>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed, fix your login details");

    <div>
        <fieldset>
            <div class="form-group" style="margin-left: 30px; margin-top:50px;">
                @Html.LabelFor(x => x.Email)

                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", aria_describedby = "emailHelp", placeholder = "Enter email" })
                <small id="emailHelp" class="form-text text-muted">
                    @Html.ValidationMessageFor(x => x.Email)
                </small>
            </div>

            <div class="form-group" style="margin-left: 30px; margin-top:20px;">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", aria_describedby = "passHelp", placeholder = "Password" })
                <small id="passHelp" class="form-text text-muted">
                    @Html.ValidationMessageFor(x => x.Password)
                </small>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-left: 30px; margin-top:30px;">Sign in</button>
        </fieldset>
    </div>
}

<br>
 Forgot your password?
@Html.ActionLink("Reset your password", "ResetPasswordSent", "User")

<br />