
@model LesioBlog2.ViewModel.ID_CodeViewModel


@{
    ViewBag.Title = "LogIn";

    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2>
    Reset your password:
</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.PasswordFor(x => x.Password);
    @Html.HiddenFor(x => x.ID);
    @Html.HiddenFor(x => x.Code);
<button class="colorA js-toggle-sendValidationEmail">
    Set new password
    @Html.ValidationMessageFor(x => x.Password)

</button>

}




