
@model LesioBlog2.ViewModel.ID_CodeViewModel


@{
    ViewBag.Title = "LogIn";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style=" margin-left:10px;">
    Reset your password:
</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ID);
    @Html.HiddenFor(x => x.Code);
    <fieldset>
        <div style="margin-left:30px;">
            <div style=" margin-top:50px">
                New password:
                <div>
                    @Html.AntiForgeryToken()
                    @Html.PasswordFor(x => x.Password,  new { @class = "form-control", aria_describedby = "emailHelp", placeholder = "Enter new pasword" })
                    <div style="margin-top:30px;">
                        <button class="btn btn-primary js-toggle-sendValidationEmail">
                            Set new password
                            @Html.ValidationMessageFor(x => x.Password)
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}




